<!DOCTYPE html>

<html>

<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{!-- Adding partial header  --}}
    {{>header}} 
    <p>{{errorMsg}}</p>
    {{!-- Adding partial footer  --}}
    {{>footer}} 
</body>

</html>