<!DOCTYPE html>

<html>

<head>
    <title>Weather App | About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{!-- Adding partial header  --}}
        {{>header}} 
        <p>We puts your current conditions and show you the forecast. </p>
        <img class="image" src="/img/tiger.jpg">      
    </div>
    {{!-- Adding partial footer  --}}
    {{>footer}} 
</body>

</html>